@import '../../../styles/variables.scss';

.search {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../../../public/search-svgrepo-com.svg') no-repeat;
    left: 4px;
    top: 50%;
    transform: translate(0, -40%);
    border-radius: 6px;
    content: '';
  }

  input {
    border-bottom: 1px solid $gray600 !important;
    background-color: $gray900;
    border: none;
    outline: none;
    color: $gray300;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 8px 12px;
    padding-left: 28px;
    margin-top: 4px;
    border-radius: 4px;

    &:hover {
      background-color: $gray700;
    }

    &:focus-within {
      border-bottom: 1px solid $primary !important; 
    }
  }
}