@import '../../styles/variables.scss';

.contactContainer {
  padding: 16px;

  .nav {
    display: grid;
    grid-template-columns: repeat(4, 340px);
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(3, 340px);
    }
  
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 340px);
    }
  
    @media (max-width: 740px) {
      grid-template-columns: repeat(1, 340px);
    }
    
    >button {
      border-radius: 4px;
      background-color: $gray600;
      color: white;
      width: 100px;

      @media (max-width: 740px) {
        width: 100%;
      }
    }
  }
}